{% load static %}
<div class="row">
    <div class="col-md-12 mb-5">
      <div class="col-12">
        <div class="dashboard-title split">
          <h2>eBook Library</h2>
          <a href="#" class="view_link d-none d-sm-inline-block">View All</a>
        </div>
      </div>
      <div class="ebook-container">
        <div class="col-md-12">
          <div class="courses-slider owl-carousel">
            {% for book in ebook_courses %}
            <div class="item dash-card">
              <div class="course-img">
                <img src="{{book.image.url}}" class="img-fluid" alt="course image">
              </div>
              <h3>{{book.title}}</h3>
              <div class="courseApply">
                <a href="{{book.url}}" class="iframe-link"
                  data-bs-toggle="modal" data-bs-target="#applyModal">View Course</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>