.hamMenu{
    cursor: pointer;
    display: none;
}
.hamMenu .burger{
    background: #FFFFFF;
    position: relative;
    height: 2px;
    width: 30px;
    margin-bottom: 6px;
    transition: all .2s;
    display: block;
}
.hamMenu .burger:nth-child(2){ 
    width: 12.5px;
    margin-left: auto;
}
.hamMenu .burger:nth-child(3){
    width: 18px;
    margin-left: auto;
}
.mobile-logo{
    max-width: 180px;
    margin: auto;
}
@media(max-width: 991px){
    .intro-wrap::before{
        top: 10%;
    }
    .mob-hide, .nav-action{
        display: none;
    }
    .hamMenu{
        display: block;
    }
    .mob-bar.v-center{
        justify-content: flex-end;
    }
    .hero-image{
        right: 0;
        opacity: 0.7;
    }
    .banner-text .item {
        margin-top: 5rem;
    }

}
@media(max-width: 768px){
    .copyright p{
        text-align: revert;
        margin-top: 10px;
    }
    .copyright{
        text-align: center;
    }
    .quote{
        display: block;
    }
    .quote svg{
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
    .intro-ing{
        text-align: center;
    }
    header{
        padding-top: 20px;
    }
    .contact-form, .custom-pop{
        padding: 2rem 1.5rem;
    }
    .custom-pop{
        padding: 1rem;
    }

    .banner-text .item {
        margin-top: 8rem;
    }

}
@media(max-width: 475px){
    .intro-wrap::before{
        background-size: contain;
    }

    .banner-text .item {
        margin-top: 5rem;
    }
}