.dashboard-title {
  margin-bottom: 16px;
}
.dashboard-title h2 {
  font-size: 16px;
  color: #3f4451;
  font-weight: bold;
  margin-bottom: 0px;
}

.download-btn a {
  color: #fff;
  display: inline-block;
  background: #1688d9;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
  outline: none;
}

.dash-card {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 7px 40px 0px rgb(3 115 156 / 10%);
  padding: 1rem;
  position: relative;
}

.ebook-container .courses-slider .owl-nav {
  display: none !important;
}

/* enrolled card */
.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}

.title-text {
  font-size: 14px;
  color: #7f8c8d;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* progresss bar  */
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #eaecf4;
  border-radius: 0.35rem;
}

/* course */
.course-indicator h4 {
  font-size: 14px;
}

.course-img {
  text-align: center !important;
  width: 100%;
}

.num {
  float: right;
}

/* assignment */
.view_link {
  color: #0d6efd;
  font-size: 12px;
}
.assgn-list {
  list-style-type: none;
  padding-left: 0;
  position: relative;
  margin-bottom: 0;
}

.assgn-list li {
  margin-bottom: 1rem;
}

.assgn-list li img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 100%;
}

/* assignment table */

.table td {
  font-size: 0.875rem;
  padding: 16px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.badge {
  border-radius: 20px;
  font-size: 12px;
  line-height: 1;
  padding: 0.625rem;
  font-weight: normal;
}

.badge-success {
  color: #fff;
  background-color: #57b657 !important;
}

.badge-warning {
  color: #fff;
  background-color: #ffc100 !important;
}

.badge-danger {
  color: #fff;
  background-color: #ff4747 !important;
}

.dash-card-body {
  overflow: auto;
  height: 300px;
}

/* scrollbar */
.dash-card-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.dash-card-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(83, 78, 78, 0.3);
  border-radius: 10px;
}

.dash-card-body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(236, 240, 241, 0.3);
  box-shadow: inset 0 0 6px rgba(128, 123, 123, 0.5);
}

.dash-card-body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(248, 249, 249, 0.3);
}

/* Style the tab content */
.assignment-card {
  background-color: #fff;
  border: 5px solid #00000000;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  line-height: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

.assignment-card img {
  width: 50px;
  border-radius: 10px;
  margin-right: 15px;
}

.assignment-card span {
  display: block;
}
.assignment-card-title { 
     cursor: pointer;
}
.assignment-title {
  font-size: 14px;
}

.assignment-time {
  font-size: 12px;
  color: #666b6b;
  padding-left: 14px;
  font-style: italic
}
.assignment-detail {
  color: #7f8c8d;
}

#show__pdf{
  display: none;
}

.hiddenRow {
  padding: 0 !important;
}

/*Chat Search Box*/

.chat-search-box {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  padding: .75rem 1rem;
}

.chat-search-box .input-group .form-control {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
  border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin: 0;
 background: rgb(32, 75, 128 );
 color: white;
}

.chat-search-box .input-group .input-group-btn .btn i {
  font-size: 1.2rem;
  line-height: 100%;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .chat-search-box {
      display: none;
  }
}


/*Users Container*/

.users-container {
  position: relative;
  padding: 1rem 0;
  border-right: 1px solid #e6ecf3;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}


/*Users*/

.users {
  padding: 0;
}

.users .person {
  position: relative;
  width: 100%;
  padding: 10px 1rem;
  cursor: pointer;
  border-bottom: 1px solid #f0f4f8;
}

.users .person:hover {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.users .person.active-user {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.users .person:last-child {
  border-bottom: 0;
}

.users .person .user {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.users .person .user img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.users .person .user .status {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #e6ecf3;
  position: absolute;
  top: 0;
  right: 0;
}

.users .person .user .status.online {
  background: #9ec94a;
}

.users .person .user .status.offline {
  background: #c4d2e2;
}

.users .person .user .status.away {
  background: #f9be52;
}

.users .person .user .status.busy {
  background: #fd7274;
}

.users .person p.name-time {
  font-weight: 600;
  font-size: .85rem;
  display: inline-block;
}

.users .person p.name-time .time {
  font-weight: 400;
  font-size: .7rem;
  text-align: right;
  color: #8796af;
}

@media (max-width: 767px) {
  .users .person .user img {
      width: 30px;
      height: 30px;
  }
  .users .person p.name-time {
      display: none;
  }
  .users .person p.name-time .time {
      display: none;
  }
}


/*Chat right side*/

.selected-user {
  width: 100%;
  padding: 0 15px;
  min-height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e6ecf3;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.selected-user span {
  line-height: 100%;
}

.selected-user span.name {
  font-weight: 700;
}

.chat-section {
background-color: white;
}

.chat-container {
  position: relative;
  padding: 1rem;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 40px;
}

.chat-container li img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.chat-container li .chat-avatar {
  margin-right: 20px;
}

.chat-container li.chat-right {
  justify-content: flex-end;
}

.chat-container li.chat-right > .chat-avatar {
  margin-left: 20px;
  margin-right: 0;
}

.chat-container li .chat-name {
  font-size: .75rem;
  color: #999999;
  text-align: center;
}

.chat-container li .chat-text {
  padding: .4rem 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #f8f9fa;
  font-weight: 300;
  line-height: 150%;
  position: relative;
}

.chat-container li .chat-text:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border: 10px solid;
  border-color: transparent #ffffff transparent transparent;
}

.chat-container li.chat-right > .chat-text {
  text-align: right;
}

.chat-container li.chat-right > .chat-text:before {
  right: -20px;
  border-color: transparent transparent transparent #ffffff;
  left: inherit;
}

.chat-container li .chat-hour {
  padding: 0;
  margin-bottom: 10px;
  font-size: .75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 15px;
}

.chat-container li .chat-hour > span {
  font-size: 16px;
  color: #9ec94a;
}

.chat-container li.chat-right > .chat-hour {
  margin: 0 15px 0 0;
}

@media (max-width: 767px) {
  .chat-container li.chat-left,
  .chat-container li.chat-right {
      flex-direction: column;
      margin-bottom: 30px;
  }
  .chat-container li img {
      width: 32px;
      height: 32px;
  }
  .chat-container li.chat-left .chat-avatar {
      margin: 0 0 5px 0;
      display: flex;
      align-items: center;
  }
  .chat-container li.chat-left .chat-hour {
      justify-content: flex-end;
  }
  .chat-container li.chat-left .chat-name {
      margin-left: 5px;
  }
  .chat-container li.chat-right .chat-avatar {
      order: -1;
      margin: 0 0 5px 0;
      align-items: center;
      display: flex;
      justify-content: right;
      flex-direction: row-reverse;
  }
  .chat-container li.chat-right .chat-hour {
      justify-content: flex-start;
      order: 2;
  }
  .chat-container li.chat-right .chat-name {
      margin-right: 5px;
  }
  .chat-container li .chat-text {
      font-size: .8rem;
  }
}

.chat-form {
  padding: 15px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.contact-from {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
}

/* breadcrumb */

.breadcrumb{
  margin: 0;
  background: none;
  padding: 0;
}
.breadcrumb .breadcrumb-item {
color: #ffc600;
font-size: 14px;
font-weight: 600;
margin-bottom: 2px;
}
.breadcrumb .breadcrumb-item a{
  color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {
color: #fff;
content: "/";
  font-size: 14px;
}

/* course */

.overview-description{
  padding: 25px 30px;
}
.overview-description .singel-description {

}

.overview-description .singel-description h6{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #000;
  padding-bottom: 10px;
}

.course-features{
  background-color: #fff;
  padding: 30px 35px;
  border-radius: 5px;
  overflow: hidden;
}
.course-features h4{
  font-size: 24px;
  color: #07294d;
  padding-bottom: 15px;
}
.course-features ul{}
.course-features ul li{
  font-size: 15px;
  color: #8a8a8a;
  overflow: hidden;
  line-height: 45px;
  border-bottom: 1px solid #d2d2d2;
}
.course-features ul li:last-child{
  border-bottom: 0;
}

.course-features ul li i{
  color: #ffc600;
  margin-right: 8px;
}
.course-features ul li span{
  float: right;
}

.course-singel-left{
  padding: 45px 50px;
  background-color: #fff;
}

.course-singel-left .title{}
.course-singel-left .title h3{
  font-size: 30px;
  color: #000;
  font-weight: 600;
  padding-bottom: 25px;
}

.course-singel-left .course-terms{}
.course-singel-left .course-terms > ul > li{
  display: inline-block;
  margin-right: 60px;
}
.course-singel-left .course-terms > ul li:last-child{
  margin-right: 0;
}

.course-singel-left .course-terms ul li .teacher-name{
  position: relative;
}
.course-singel-left .course-terms ul li .teacher-name .thum{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.course-singel-left .course-terms ul li .teacher-name .thum img{
  border-radius: 50%;
}
.course-singel-left .course-terms ul li .teacher-name .name{
  padding-left: 60px;
}

.course-singel-left .course-terms ul li,
.course-singel-left .course-terms ul li .teacher-name .name span,
.course-singel-left .course-terms ul li {
  color: #8a8a8a;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.course-singel-left .course-terms ul li .teacher-name .name h6,
.course-singel-left .course-terms ul li {
  font-size: 16px;
  color: #24486e;
  font-weight: 700;
}

.course-singel-left .course-terms ul li{}
.course-singel-left .course-terms ul li {
  display: inline-block;
}
.course-singel-left .course-terms ul li {
  font-size: 14px;
  color: #ffc600;
}
.course-singel-left .course-terms ul li {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  margin-left: 13px;
}

.course-singel-image{}
.course-singel-image img{
    width: 100%;
}
video {
  width: 100%;
  height: auto;
}

.course-tab{
  border: 1px solid #edf0f2;
  border-radius: 5px;
}

.course-tab .nav{}
.course-tab .nav .nav-item{}
.course-tab .nav .nav-item a {
font-size: 16px;
color: #24486e;
font-weight: 600;
font-family: 'Montserrat', sans-serif;
padding: 20px 0;
display: block;
  background-color: #edf0f2;
}
.course-tab .nav .nav-item a.active {
  background-color: #fff;
}

 /* curriculum */

 .curriculum-cont{
  padding: 25px 30px;
}
.curriculum-cont .title h6{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #000;
  padding-bottom: 30px;
}

.curriculum-cont .accordion{
  border: 0;
}
.curriculum-cont .accordion .card{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #cecece !important;
}
.curriculum-cont .accordion .card:last-child{
  border-bottom: 0 !important;
}

.curriculum-cont .accordion .card .card-header {
  padding: 0;
  border-bottom: 0;
}

.curriculum-cont .accordion .card .card-header a {
overflow: hidden;
display: block;
  padding: 15px 15px;
  background-color: #edf0f2;
}
.curriculum-cont .accordion .card .card-header a.collapsed{
  background-color: #fff;
  border: none;
}

.curriculum-cont .accordion .card .card-header a::before,
.curriculum-cont .accordion .card .card-header a.collapsed::before {
content: "\f107";
font-family: "FontAwesome";
font-size: 18px;
color: #8a8a8a;
position: absolute;
top: 15px;
right: 15px;
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.curriculum-cont .accordion .card .card-header a.collapsed:before{
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.curriculum-cont .accordion .card .card-header a ul li{
  display: inline-block;
}
.curriculum-cont .accordion .card .card-header a ul li:last-child{
  float: right;
}

.curriculum-cont .accordion .card .card-header a ul li > i{
  color: #ffc600;
  font-size: 15px;
  margin-right: 5px;
}

.curriculum-cont .accordion .card .card-body {
background-color: #edf0f2;
padding: 0 25px 20px;
}

.instructor-cont{
  padding: 30px 30px 25px;
}

.instructor-cont .instructor-author{
  overflow: hidden;
}
.instructor-cont .instructor-author .author-thum{
  float: left;
  margin-right: 30px;
}
.instructor-cont .instructor-author .author-name{
  float: left;
}
.instructor-cont .instructor-author .author-name a{
  display: block;
}
.instructor-cont .instructor-author .author-name a h5{
  font-size: 18px;
  color: 30px;
  font-weight: 600;
}
.instructor-cont .instructor-author .author-name span{
  font-size: 15px;
  color: #8a8a8a;
}
.instructor-cont .instructor-author .author-name .social{
  
}
.instructor-cont .instructor-author .author-name .social li{
  display: inline-block;
  margin-right: 8px;
}
.instructor-cont .instructor-author .author-name .social li a{
  font-size: 16px;
  width: 35px;
  height: 35px;
  line-height: 33px;
  color: #24486e;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.instructor-cont .instructor-author .author-name .social li a:hover{
  background-color: #fff;
  color: #24486e;
}