{% extends 'admin2/admin-base.html' %} {% load static %} {% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Teachers List</p>
            <a href="{% url 'teacher:teacher_add' %}" class="add-link">
              <p class="add-text"><i class="fa fa-plus">&nbsp;</i> Add Teacher</p>
            </a>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="examplee" class="display expandable-table" style="width:100%">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Joined Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for teacher in teachers %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{teacher.full_name}}</td>
                        <td>{{teacher.email}}</td>
                        <td>{{teacher.phone_number}}</td>
                        <td>{{teacher.date_joined}}</td>
                        <td>
                          <a href="{% url 'teacher:teacher_edit' teacher.id %}" class="btn btn-info btn-icon-text">Edit
                          </a>
                          <a href="{% url 'teacher:teacher_delete' teacher.id %}" class="btn btn-danger">Delete
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
