{% extends 'admin2/admin-base.html' %} {% load static %} {% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Students List</p>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="examplee" class="display expandable-table" style="width:100%">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Joined Courses</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for student in students %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{student.full_name}}</td>
                        <td>{{student.email}}</td>
                        <td>
                            {% for course in student.student_courses.all %}
                            {{course.course.name}},
                            {% endfor %}
                          </td>
                        <td>
                          <a href="{% url 'courses:student_assigned_courses_edit' student.id %}" class="btn border border-primary">Update
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
