{% load static %}
{% load crispy_forms_tags %}
<!--Register--> 
<!-- <div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'authentication:login' %}">login</a> instead.</p>
</div> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
  ></script>
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <title>Log in / Sign up</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="register">
             <form method="POST" action="" class="login-form">
              {% csrf_token %}
                 <h2 class="title"> Sign up</h2>
                 <div class="input-field">
                     <i class="fas fa-user"></i>
					 <input type="text" placeholder="Username">
                    
                 </div>
				 <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email">
                </div>
                 <div class="input-field">
                    <i class="fas fa-lock"></i>
					<input type="password" placeholder="Password">
                   
                </div>
				<div class="input-field">
					<i class="fas fa-lock"></i>
					<input type="password" placeholder="Password">
				</div>
                <button class="btn btn-primary solid" type="submit">Login</button>
                <p class="signup-here">Already have a account ?  <a href="{% url 'authentication:register' %}">Log in</a></p>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3> Welcome </h3>
                    <p> Be a part of our family. Join with us </p>
                    <button class="btn transparent" id="signup-btn">Sign up</button>
                </div>
                <img src ="{% static 'assets/img/sign-up img.png' %}" class="image" alt="illustration">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3> One of us </h3>
                    <p> Be a part of our family. Join with us </p>
                    <button class="btn transparent" id="login-btn">Sign in</button>
                </div>
                <img src ="{% static 'assets/img/login.png' %}" class="image" alt="illustration">
            </div>
        </div>

    </div>
</body>
</html>