{% load static %}
<section class="courses-wrap" id="course">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="title-icon icon-yellow mb-5">
                        <i class="fas fa-book-open"></i>
                    </span>
                    <h2>Featured Courses</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="courses-slider owl-carousel courses12">
                    
                </div>
            </div>
            <!-- <div class="col-12">
                <div class="apply-btn">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#applyModal">Apply Courses</a>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- End of Courses -->
