
{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <div class="foot-logo mb-4">
                        <img src="{% static 'assets/images/colorlogo.png' %}" class="img-fluid" alt="">
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    </p>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h2>Courses</h2>
                    <ul>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">UI UX & Web Design</a></li>
                        <li><a href="#">Cyber Security</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#intro">Introduction</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#course">Courses</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h2>Contact</h2>
                    <ul>
                        <li><a href="mailto:email@domainname.com">email@domainname.com</a></li>
                        <li><a href="tel:+977-98123456789">+977-9808312485</a> <a href="tel:+977-98123456789">+977-9808312485</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End of footer -->

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                <ul>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                <p>Copyright &copy; 2021 | <span class="brand-color">Edulaya : Learning Management System</span></p>
                
            </div>
        </div>
    </div>
</div>
<!-- End of copyright -->
