{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Edulaya</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <link rel="icon" href="assets/images/favicon.png" type="image"> -->

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
	<!-- Bootstrap Css -->

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
	<!-- Main Css -->

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">
	<!-- Responsive css -->

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/aos.css' %}">
	<!-- Animation Css -->

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}">
	<!-- Magnific Popup -->

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.carousel.css' %}">
    <!-- Banner carousel -->

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/pushy.css' %}">
    <!-- Mobile Side Bar -->

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}">
    <!-- Magnific pop up -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/images/minilogo.png' %}" />
</head>
<body id="nav">

<div class="mobile-menu pushy pushy-left" data-menu-btn-class=".menu-icon" id="mobile-nav">
    <div class="mobile-logo text-start mb-4">
        <img src="{% static 'assets/images/whitelogo.png' %}" class="img-fluid">
    </div>
    
    <ul>
        <li><a href="#banner">Home</a></li>
        <li><a href="#course">Courses</a></li>
        <li><a href="#intro">Introduction</a></li>
        <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#applyModal">Apply Courses</a></li>
        <li><a href="#contact">Contact</a></li>
        {% if user.id is None %}
        <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#signInModal"><i class="fas fa-user"></i> Sign In</a></li>
        <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#signUpModal"><i class="fas fa-clipboard-list"></i> Sign Up</a></li>
        {% else %}
        Welcome  <a href="
        {% if user.role == 'Student' %}
            {% url 'students:student_index' %}
        {% elif user.role == 'Teacher' %}
            {% url 'teacher:teacher_index' %}
        {% elif user.is_admin  %}
            {% url 'authentication:administrator' %}
        {% endif %}
        "> <span>{{user.full_name}}</span> <i class="fas fa-chevron-circle-down"></i></a>
        {% endif %}
    </ul>
</div>
<!-- Site Overlay -->
<div class="site-overlay"></div>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-5 col-6">
                <div class="logo">
                    <img src="{% static 'assets/images/whitelogo.png' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-xxl-7 col-xl-7 col-lg-7 mob-hide v-center">
                <div class="nav-menu text-center" >
                    <ul>
                        <li><a href="#banner">Home</a></li>
                        <li><a href="#course">Courses</a></li>
                        <li><a href="#intro">Introduction</a></li>
                        <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#applyModal">Apply Courses</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-8 col-sm-7 col-6 mob-bar v-center">
                <div class="nav-action text-end">
                    <ul>
                        {% if user.id is None %}
                        <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#signInModal"><i class="fas fa-user"></i> Sign In</a></li>
                        <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#signUpModal"><i class="fas fa-clipboard-list"></i> Sign Up</a></li>
                        {% else %}
                        <li><a href="
                            {% if user.role == 'Student' %}
                                {% url 'students:student_index' %}
                            {% elif user.role == 'Teacher' %}
                                {% url 'teacher:teacher_index' %}
                            {% elif user.is_admin  %}
                                {% url 'authentication:administrator' %}
                            {% endif %}
                            ">Welcome {{user.full_name}}</a></li>
                        
                              <li><a href="{% url 'authentication:logout' %}">Logout</a></li>
                           
                        {% endif %}
                    </ul>
                </div>
                <div class="hamMenu mobile-nav menu-icon">
                    <span class="burger"></span>
                    <span class="burger"></span>
                    <span class="burger"></span>
                </div>
            </div>
        </div>
    </div>
    {% include 'alerts.html' %}
</header>
<!-- End of Header -->

<section class="banner" id="banner">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 col-md-6 mt-8">
                <div class="banner-text owl-carousel">
                    <div class="item">
                        <h2 class="mb-4">UI / UX Design Specialization <br>
                           With UX Design Certificate</h2>
                        <p class="mb-4">The UI/UX Design Specialization brings a design-centric approach to
                             user interface and user experience design, and offers practical, skill-based instruction centered around a visual communications perspective, rather than on one focused on marketing or programming alone.</p>
                           <a href="#" class="banner-btn">Start A Course</a>
                    </div>

                    <div class="item">
                        <h2 class="mb-4">Website<br>
                            Design & Development</h2>
                        <p class="mb-4"></p>Learning how to code can get you a better job and lead to a better future. This course starts you off with the basic coding language of HTML. Enroll to begin your journey to be a web development master.</p>
                           <a href="#" class="banner-btn">Start A Course</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-5 mb-4">
                <img src="{% static 'assets/images/heroimg.png' %}" class="img-fuild  w-100" alt="">
            </div>
        </div>
    </div>
    <!-- <div class="hero-image">
        <img src="{% static 'assets/images/heroimg.png' %}" alt="">
    </div> -->
    <div class="banner-shape">
        <img src="{% static 'assets/images/shape.png' %}" class="img-fluid" alt="">
    </div>
    <div class="shape2">
        <img src="{% static 'assets/images/shape2.png' %}" alt="">
    </div>
</section>
<!-- End of Banner -->

<section class="courses-wrap" id="course">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Featured Courses</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="courses-slider owl-carousel">
                    {% for course in courses %}
                    <div class="item">
                        <div class="course-img">
                            <img src="{{course.image.url}}" class="img-fluid" alt="course image">
                        </div>
                        <h3>{{course.name}}</h3>
                        <p>{{course.description}}</p>
                        <ul>
                            <li>{{course.time_to_complete}} Months Course</li>
                        </ul>
                        <div class="courseApply">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#applyModal">Apply Course</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Courses -->

<section class="intro-wrap" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="quote mb-5">
                    <i class="fas fa-quote-left"></i>
                    <figure>"Secure your future with us."</figure>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">            
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-12 mt-5">
                <div class="intro-ing">
                    <img src="{% static 'assets/images/intro.png' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-12 mt-5">
                <div class="intro-text">
                    <div class="section-title mb-4">
                        <h2>About the Us</h2>
                    </div>
                    <p>"To empower the nation through generation of computer literates and competent IT professionals who could serve as valuable resource and responsible innovative citizens."
                    <br>
                    <br>    "Edulaya team is and will be dedicated to develop and impart quality service to all; achieving excellence in creative, innovative and up to-date teaching-learning, facilitating effective interactions among faculty, management and students and acting as a contributing institution for the employees, society and all stakeholders."
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of intro wrap -->

<section class="focal-point-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Lock your successful future</h2>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-12">
                <div class="point-block pt-5">
                    <img src="{% static 'assets/images/class.svg' %}" alt="">
                    <h3>In-Class Learning and Live Sharing</h3>
                    <p>The students have the opportunity to learn both in physical presence as well as online through the Coding Bootcamp. 
                    There will be classes held for 3 days in a week and live sharing sessions will also be conducted during this period. </p>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-12">
                <div class="point-block pt-5">
                    <img src="{% static 'assets/images/interview.svg' %}" alt="">
                    <h3>Mock Interviews</h3>
                    <p>To give a proper understanding of how to face an Interview for your dream job, the students will have multiple mock interviews. 
                    During these mock interviews the students will go through a series of situations and questions that are exact depiction of the real-world Tech Interviews. </p>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-12">
                <div class="point-block pt-5">
                    <img src="{% static 'assets/images/resume.svg' %}" alt="">
                    <h3>Resume Critique</h3>
                    <p>The students will be taught, in this Coding Bootcamp, to make a proper resume. Their respective resumes will be critiqued by experts 
                    and changes will be suggested if necessary, so that the participated students will have exemplary resumes at the end of the bootcamp.</p>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-12">
                <div class="point-block pt-5">
                    <img src="{% static 'assets/images/job-fair.svg' %}" alt="">
                    <h3>Job Fair</h3>
                    <p>At the end of the Coding Bootcamp, there will be a job fair held where numerous prestigious IT companies will participate and 
                    recruit the students from the bootcamp. The job fair is a great occasion for the students to find the perfect job in tech that they have always wanted.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of focal point -->

<section class="instructor-RepWrap">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-xxl-4">
                <!-- <div class="instructor-img">
                    <img src="{% static 'assets/images/instructor.png" class="img-fluid" alt="">
                </div> -->
            </div>
            <div class="col-xxl-6">
                <div class="instructor-text">
                    <h2>Want to become <br> a tutor for bootcamp? Apply here.</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    <div class="apply-btn instructorApply">
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#signUpModal">Apply for Instructor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="contact-wrap" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center">
                    <h2>Need Professional <br> Skills-Kickstart your IT Career?</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-formWrap">
    <div class="container">        
        <div class="row">
            <div class="col-12">
                <div class="contact-form">
                    <form action="">
                        <div class="form-group row">
                            <div class="col-xxl-6 mb-4">
                                <label>First Name</label>
                                <input type="text" class="custom-field" placeholder="Enter First Name">
                            </div>
                            <div class="col-xxl-6 mb-4">
                                <label>Last Name</label>
                                <input type="text" class="custom-field" placeholder="Enter Last Name">
                            </div>
                        </div>                        
                        <div class="form-group mb-4">
                            <label>Email Address</label>
                            <input type="text" class="custom-field" placeholder="Enter Email Address">                        
                        </div>     
                        <div class="form-group mb-4">
                            <label>Message</label>
                            <textarea name="" class="custom-field"  rows="6"></textarea>
                        </div>
                        <div class="form-group mb-4">
                            <label>Upload your CV</label>
                            <input type="file" class="custom-file-input ">
                        </div>
                        <div class="form-group row justify-content-center">
                            <button type="submit" class="submit-btn"><i class="fas fa-paper-plane"></i> Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of contact -->

{% include 'footer.html' %}

{% include 'modal.html' %}

<!-- Course Apply popup -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content custom-pop">
        <div class="modal-header">
          <h5 class="modal-title">Fill Form to apply course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="msg"></div>
            <form id="student_course_request" method="POST" action="#">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <label>Full Name</label>
                    <input type="text" class="custom-field" placeholder="Enter Full Name" name="full_name" id="full_name">
                </div>
                <div class="form-group mb-4">
                    <label>Email Address</label>
                    <input type="text" class="custom-field" name="email" id="email" placeholder="Enter Email Address">
                </div>
                <div class="form-group mb-4">
                    <label>Phone Number</label>
                    <input type="number" class="custom-field" name="phone" id="phone" placeholder="Enter Phone Number">
                </div>
                <div class="form-group mb-4">
                    <label>Address</label>
                    <input type="text" class="custom-field" name="address" id="address" placeholder="Enter Address">
                </div>
                <div class="form-group mb-4">
                    <label>Select Course</label>
                    <select name="" id="selected-course" class="custom-field selected-course">
                        <option value="null">Select Course to Apply</option>
                        {% for course in courses %}
                        <option value="{{course.id}}">{{course}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" id="student_course" class="apply-submitBtn">Apply</button>
                </div>
            </form>
        </div>
        
      </div>
    </div>
</div>

    <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
    <!-- jQuery -->
    
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Bootstrap Js -->

    <script type="text/javascript" src="{% static 'assets/js/plugins.js' %}"></script>
    <!-- Banner Carousel -->

    <script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
    <!-- Popper JS -->    

    <script type="text/javascript" src="{% static 'assets/js/aos.js' %}"></script>
    <!-- Animation Js -->

    <script type="text/javascript" src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Magnific Popup -->

    <script type="text/javascript" src="{% static 'assets/js/jquery.nav.js' %}"></script>
    <!-- One page scroll -->
    
    <script type="text/javascript" src="{% static 'assets/js/pushy.min.js' %}"></script>
    <!-- Mobile Side bar -->

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <!-- Font Awesome Icon -->  

    <script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
    <!-- Custom Js -->
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        $('#login').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var email = $.trim($('#singin-email').val());
            var password = $.trim($('#singin-password').val());
            const csrftoken = getCookie('csrftoken');
    
            $.ajax({
                type: "POST",
                url: "{% url 'authentication:login' %}",
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'email': email,
                    'password': password,
                },
                success:function(response){ 
                    if(response.is_superuser==true) location.href = "{% url 'authentication:administrator' %}";
                    else if(response.role == 'Student') location.href = "{% url 'students:student_index' %}";
                    else if(response.role == 'Teacher') location.href = "{% url 'teacher:teacher_index' %}";
                else location.href = "{% url 'authentication:homepage' %}";
                    {% comment %} location.reload(); {% endcomment %}
                }
    
            });
    
        });

        $("select.selected-course").change(function(){
            window.selected_course = $(this).children("option:selected").val();
        });

        $('#student_course_request').submit(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var full_name = $.trim($('#full_name').val());
            var email = $.trim($('#email').val());
            var phone = $.trim($('#phone').val());
            var address = $.trim($('#address').val());
            var course = selected_course;
            const csrftoken = getCookie('csrftoken');
    
            $.ajax({
                type: "POST",
                url: "{% url 'students:student_course_appplication' %}",
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'full_name': full_name,
                    'email': email,
                    'phone': phone,
                    'address': address,
                    'course': course,
    
                },
                success: function(response) {
                    $('#msg').html(response.msg);
                    location.reload();
                },
                error: function(response) {
                    $('#msg').html(response.message);
                }
                
    
            });
    
        });

        $('#register_form').submit(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var spinner='<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div> Please Wait ...'
            $('#signup').html(spinner);
            var full_name = $.trim($('#register-full_name').val());
            var email = $.trim($('#register-email').val());
            var role = $.trim($('#register-role').val());
            var phone = $.trim($('#register-phone').val());
            var password = $.trim($('#register-password').val());
            var confirm_password = $.trim($('#register-confirm_password').val());
            const csrftoken = getCookie('csrftoken');
    
            $.ajax({
                type: "POST",
                url: "{% url 'authentication:register' %}",
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'full_name': full_name,
                    'email': email,
                    'role': role,
                    'phone': phone,
                    'password': password,
                    'confirm_password': confirm_password,
    
                },
                success:function(message){  
                    alert(message.message);
                    location.reload();
                },
                
    
            });
    
        });

        {% comment %} $(document).ready(function(){
            $.ajax({ url: "{% url 'courses:courses_list' %}",
                type: "GET",
                success: function(data){
                    $.each(data, function (key, value) {
                        console.log(value);
                        $('.courses12').append(
                            `<div class="item">
                                <div class="course-img">
                                    <img src="{% static '`+value.image+`' %}" class="img-fluid" alt="course image">
                                </div>
                                <h3>`+value.name+`</h3>
                                <p>`+value.description+`</p>
                                <ul>
                                    <li>`+value.time_to_complete+` Months Course</li>
                                </ul>
                                <div class="courseApply">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#applyModal">Apply Course</a>
                                </div>
                            </div>`
                        )
                    })
                    
                }
            });
        }); {% endcomment %}
    </script>
</body>
</html>