{% extends 'admin2/admin-base.html' %} {% load static %} {% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body"> 
            <div class="row pb-3">
            <div class="col-9">
          <p class="card-title">Students List</p>
          </div>
          <div class="col-3">
          <a href="{% url 'students:student_add' %}" class="add-link">
            <button class="btn btn-outline-primary" type="button" id="dropdownMenuDate2" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-plus">&nbsp;</i> Add Student
             </button>
          </a>
          </div>
          </div>
            
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="examplee" class="display expandable-table" style="width:100%">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Joined Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for student in students %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{student.full_name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.phone_number}}</td>
                        <td>{{student.date_joined}}</td>
                        <td>
                          <a href="{% url 'students:student_edit' student.id %}" class="btn border border-primary">Edit
                          </a>
                          <a href="{% url 'students:student_delete' student.id %}" class="btn border border-danger mx-2">Delete
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
